[submodule "submodules/karma"]
	path = submodules/karma
	url = git@github.com:zeionara/karma.git
[submodule "submodules/raconteur"]
	path = submodules/raconteur
	url = git@github.com:zeionara/raconteur.git
